[submodule "jfc-cmake"]
	path = jfc-cmake
	url = https://github.com/jfcameron/jfc-cmake.git
[submodule "thirdparty/GDK-Math"]
	path = thirdparty/GDK-Math
	url = https://github.com/jfcameron/GDK-Math.git
